{{#extend "stylesheets"}}
    <link rel='stylesheet' href='/stylesheets/about.css'/>
{{/extend}}
<div class="body center w980 about-wp">
    <div class="about-info">
        <h1>Sketch Based Image Retrieval System</h1>

        <h2>Jun Chen (python Algorithms)</h2>

        <h2>Yi Wang (Frontend & Parameter Testing)</h2>

        <p>We've realized a simple sketch based image retrieval system with the help of the following reference
            papers.</p>

        <p>Not all algorithms are used in our project, so the retrieval precision may not be very high.</p>

        <p>You could draw a picture or just upload one, have fun :)</p>

        <h3>Refs:</h3>

        <p><a href="http://personal.ee.surrey.ac.uk/Personal/R.Hu/SBIR.html" target="_blank">A Performance Evaluation of
            Gradient Field HOG Descritpor
            for Sketch Based Image Retrieval</a></p>

        <p><a></a></p>
    </div>

    <div class="github">
        <h3>Github: </h3>
        <p><a href="https://github.com/Just-CJ/SketchRetrieval" target="_blank">Sketch Retrieval</a></p>
    </div>

    <div class="blog">
        <h3>Blog</h3>
        <p><a href="http://www.wytiny.com">wytiny</a></p>
    </div>
</div>