<div>
    <p>Jun Chen</p>
    <p>Yi Wang</p>
    <p>Refs: <a href="http://personal.ee.surrey.ac.uk/Personal/R.Hu/SBIR.html" target="_blank">A Performance Evaluation of Gradient Field HOG Descritpor
        for Sketch Based Image Retrieval</a></p>
</div>