{{#extend "stylesheets"}}
    <link rel='stylesheet' href='/stylesheets/algo.css'/>
{{/extend}}
<div class="body center w980 algo-wp">
    <div class="algo-info center">
        <h1>Algorithms</h1>
        <p>1.Format Images</p>
        <p>2.Find the Contour</p>
        <p>3.Use Hog descriptor to extract features of traning images (14661 samples for training)</p>
        <p>4.Apply K-means algorithms to cluster features</p>
        <p>5.Normalizing features to build visual word vocabulary</p>
        <p>6.Use the vocabulary to describe target image</p>
        <p>7.Calculate the distance between target and those in the database</p>
        <p>8.List top 10 </p>
    </div>
</div>