<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='http://fonts.useso.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/javascripts/jquery.min.js' charset="utf-8"></script>
    {{{block "stylesheets"}}}
</head>
<body>
<div class="header">
    <div class="hd-wp center w980">
        <div class="menu-icon J-menu"></div>
        <a href="javascript:;" class="prj-title">Sketch Retrieval</a>
        <ul class="hd-nav">
            <li class="demo {{#if demo}}selected{{/if}}"><a href="/">DEMO</a></li>
            <li class="algo {{#if algo}}selected{{/if}}"><a href="/algo">ALGORITHMS</a></li>
            <li class="about {{#if about}}selected{{/if}}"><a href="/about">ABOUT</a></li>
        </ul>
    </div>
</div>
<div class="place-holder"></div>
{{{body}}}
<div class="footer">
    <div class="ft-wp center w980">
        <div class="author-info fl">
            <p>Authors:</p>
            <div class="author fl">
                <p class="name">陈 俊</p>
                <p>3120102062</p>
                <a href="mailto:just.bv.cj@gmail.com">just.bv.cj@gmail.com</a>
            </div>
            <div class="author fl">
                <p class="name">王 艺</p>
                <p>3120101996</p>
                <a href="mailto:zjutiny@gmail.com">zjutiny@gmail.com</a>
            </div>
        </div>

    </div>
</div>
{{{block "javascripts"}}}
<script>

</script>
</body>
</html>
