.body {
    color: #555;
    height: 400px;
    margin-top: 60px;
    transition: 0.5s;
}

.body h1, .body h2{
    color: #333;
}

.body a {
    color: #2BB8AA;
    transition: 0.5s;
}

.body a:hover {
    color: #10a2ff;
}
